* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.switch {
  text-transform: uppercase;
  text-align: center;
  overflow: hidden;
  left: 50%;
  top: 50%;
  border-radius: 10px;
  border: 2px solid black;
  box-shadow: 2px black;
  width: 200px;
  height: 100px;
  background-color: rgb(91, 91, 91);
  color: white;
  font-family: 'Electrolize', sans-serif;
  font-size: 40px;
  cursor: pointer;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: background-color .3s;
}
.switch:hover {
  background-color: white;
  color: rgb(94, 93, 93);
}
div {
  text-transform: uppercase;
  text-align: center;
  left: 50%;
  top: 50%;
  box-shadow: 2px black;
  width: 200px;
  height: 200px;
  background-color: white;
  color: rgb(91, 91, 91);
  border: 2px solid black;
  border-radius: 50px;
  position: absolute;
  left: 50%;
  top: 30%;
  transform: translate(-50%, -50%);
}
.fa-lightbulb {
  font-size: 150px;
  margin: 20px;
}
.switchon {
  color: black;
  background-color: rgb(252, 208, 64);
}
.bgc {
    background-color: rgb(255, 239, 188);
}